*.pyc
LabRAD.ini
Errors.log
desktop.ini
.project
.pydevproject
.recent.ini
.DS_store
.directory
.idea
SWITCH_CONTROL_config.py
DDS_CONTROL_config.py
APT_config.py
connection_config.py
*~
DacConfiguration.py
.settings
node_client.py
.metadata*
